<form action="javascript:void(0)">
    <div id="data">
        <label for="current-task">Task name:</label>
        <input type="text" id="current-task" ng-model="currentElement.text" value="{{currentElement.text}}">{{currentElement}} text {{currentElement.priority['id']}}
    </div>
    <div id="class-status">
        <select ng-model="currentElement.priority" ng-options="option.label for option in selectOptions">
        </select>
    </div>
    <div id="task-date">
        <input type="date" ng-model="currentElement.date">
    </div>
    <div id="full-description">
        <textarea ng-model="currentElement.description"></textarea>
    </div>
    <div id="edit-confirm-buttons">
        <button class="btn" type="submit" ng-click="editTask(currentElement._id)">EDIT</button>
        <button class="btn" type="cancel" ng-click="clearTask()">CANCEL</button>
    </div>
</form>
